@{
    ViewBag.Title = "About Me";
}

<div class="box">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 align="center">About Me</h1>
            </div>
            <div class="row">
                <div class="col-md-3" align="right">
                    <img src="~/Images/Me.jpg" />
                </div>
                <div class="col-md-8">
                    <p>
                        My name is Niall Martin. I am a 22 year old student from Co. Monaghan, Ireland.
                        I am currently in my final year of studying Computer Science & Information Technology
                        in the National University of Ireland, Galway.
                    </p>
                    <p>
                        I am a hard working individual with a good knowledge of object oriented languages.
                        I have experience in developing software using C#, Java, C, JavaScript, HTML and more.
                        I have a particular interest in web development and software development in the .NET
                        environment. As part of my previous work in both professional and educational
                        environments, as well as personal work during my own time I have developed and
                        contributed to a a number of different projects. More details of these can be seen
                        in the completed projects section of the website.
                    </p>
                </div>
                <div class="col-md-1"></div>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <p>
                        After the first semester of my final year , in the six modules to complete, I received
                        three A's(70%+), two B's(60%-70%) and one C(50%-60%). I aim to complete my university degree with
                        a minimum result of a 2nd class honours grade 1. I will receive all of my exact final results
                        by mid June.
                    </p>
                    <p>
                        I am a very adaptable person and I am always looking for new things to learn. I can work well in a team
                        and am willing to go the extra mile to achieve whatever I set out to do. At the moment this is to get
                        as good a result as possible for my university degree.
                    </p>
                    <p>
                        If you want to find out more about me or have any questions please don't hesitate to contact me.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
