@{
    ViewBag.Title = "About Me";
}

<div class="box">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 align="center">About Me</h1>
            </div>
            <div class="row">
                <div class="col-md-12" align="center">
                    <img src="~/Images/Me.jpg" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <p></p>
                    <p>
                        My name is Niall Martin. I am a Software Developer from Co. Monaghan, Ireland.
                    </p>
                    <p>
                        I have 5 years professional experience in the field of software development.
                        While working with companies both large and small in both Ireland and abroad,
                        I have specialised as an engineer using .NET technologies to build and maintain
                        applications in a number of different sectors such as medical, financial and technological fields.
                        I am always looking for an opportunity to expand this.

                        Outside of work I have a keen interest in film, sport and gaming and am a member of my local
                        GAA club.
                    </p>
                </div>
                <div class="col-md-1"></div>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <p>
                        If you want to find out more about me or have any questions please don't hesitate to contact me.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
