@{
    ViewBag.Title = "About Me";
}

<div class="box">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 align="center">About Me</h1>
            </div>
            <div class="row">
                <div class="col-md-3" align="right">
                    <img src="~/Images/Me.jpg" />
                </div>
                <div class="col-md-8">
                    <p>
                        My name is Niall Martin. I am a 23 year old graduate from Co. Monaghan, Ireland.
                        I recently completed an honours bachelor's degree in Computer Science & Information Technology in 
                        the National University of Ireland, Galway(NUIG).
                    </p>
                    <p>
                        I am a hard working individual with a good knowledge of object oriented languages.
                        I have experience in developing software using C#, Java, C, JavaScript, HTML and more.
                        I have a particular interest in web development and software development in the .NET
                        environment. As part of my previous work in both professional and educational
                        environments, as well as personal work during my own time I have developed and
                        contributed to a number of different projects. More details of these can be seen
                        in the completed projects section of the website.
                    </p>
                </div>
                <div class="col-md-1"></div>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <p>
                        After much hard work I successfully completed all the requirements necessary for NUIG's Computer Science &
                        Information Technology course. Upon completion I graduated with a 2nd class honours grade 1(2.1) in June 2016.
                    </p>
                    <p>
                        I am a very adaptable person and I am always looking for new things to learn. I can work well in a team
                        and am willing to go the extra mile to achieve whatever I set out to do. At the moment this is to get
                        as good a result as possible for my university degree.
                    </p>
                    <p>
                        If you want to find out more about me or have any questions please don't hesitate to contact me.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
