@{
    ViewBag.Title = "Completed Projects";
}


<div class="box">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Completed Projects</h1>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div align="center">
                        <p>The source code for these projects are available to view on my Github profile.</p>
                        <a href="https://github.com/NiallFMartin" class="btn btn-primary">
                            Github
                            <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <h2 align="left">
                        Vancouver Éire Óg GAA club website
                    </h2>
                    <p>
                        Set up a website for the Vancouver Éire Óg GAA club. Includes schedules, news stories,
                        player profiles and contact information for prospective members.
                        <br />
                        <a href="http://vancouvereireog.com/" class="btn btn-primary">
                            Website
                            <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                        </a>

                        <a href="https://github.com/NiallFMartin/EireOgWebsite" class="btn btn-primary">
                            Source Code
                            <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                        </a>
                    </p>
                </div>
                <div class="col-md-1"></div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <h2 align="left">
                        Juvenile Athletics management Application
                    </h2>
                    <p>
                        For my university final year project, I made a fully featured Athletics Management web application. Developed using ASP.NET MVC (C# as main language) and Entity Framework, it includes the following features:
                        <br />
                        •	Simple performance data logging saved to an external Microsoft SQL database.
                        <br />
                        •	Trend analysis of athletes’ performance throughout the year.
                        <br />
                        •	Generation of set performance goals determined by the athlete’s existing results.
                        <br />
                        •	Comparison of athletes’ key performance data for squad selection.
                        <br />
                        <a href="https://github.com/NiallFMartin/Juvenile-Athletics-Management-Application" class="btn btn-primary">
                            Source Code
                            <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                        </a>
                    </p>
                </div>
                <div class="col-md-1"></div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <h2 align="left">
                        Information Retrieval System
                    </h2>
                    <p>
                        Developed an Information Retrieval System written in C# from scratch. Given a query, it computes the Cosine Similarity between the query and a number of documents, and returns a ranked list of all relevant documents relating to that query using a modern weighting scheme (TFIDF).
                        <br />
                        <a href="https://github.com/NiallFMartin/Information-Retrieval-System" class="btn btn-primary">
                            Source Code
                            <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                        </a>
                    </p>
                </div>
                <div class="col-md-1"></div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <h2 align="left">
                        Java RMI based Exam System
                    </h2>
                    <p>
                        This project consisted of a client-server model where a student (client) could download an assessment object from the server, complete the assessment and then upload is back to the server for correction.
                        <br />
                        <a href="https://github.com/NiallFMartin/Java-RMI-Project" class="btn btn-primary">
                            Source Code
                            <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                        </a>
                    </p>
                </div>
                <div class="col-md-1"></div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <h2 align="left">
                        Map Reduce Cluster Simulation
                    </h2>
                    <p>
                        Implementation of the MapReduce programming model implemented using Java.
                        <br />
                        <a href="https://github.com/NiallFMartin/Map-Reduce-Cluster-Simulation" class="btn btn-primary">
                            Source Code
                            <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                        </a>
                    </p>
                </div>
                <div class="col-md-1"></div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <h2 align="left">
                        SIR Model
                    </h2>
                    <p>
                        Implementation of the the SIR Model of a village implemented using R for a Systems Modelling & Simulation assignment.
                        <br />
                        <a href="https://github.com/NiallFMartin/SIR-Model" class="btn btn-primary">
                            Source Code
                            <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                        </a>
                    </p>
                </div>
                <div class="col-md-1"></div>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <h2 align="left">
                        niallmartin.com Source Code
                    </h2>
                    <p>
                        Website was developed using ASP.NET MVC and Entity Framework. Developed using C#
                        <br />
                        <a href="https://github.com/NiallFMartin/Niall-Martin-Website" class="btn btn-primary">
                            Source Code
                            <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                        </a>
                    </p>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </div>
</div>
