@{
    ViewBag.Title = "Contact Me";
}


<div class="box">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Contact Me</h1>
            </div>

            <br />
            <br />

            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <h2 align="center">
                        Email me.
                    </h2>
                    <div align="center">
                        <p>To email me simply click below or send your message to bussiness@@niallmartin.com.</p>
                        <a href="mailto:business@niallmartin.com" class="btn btn-primary">
                            Email Me
                            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>

                <div class="col-md-5">
                    <h2 align="center">
                        Follow me on Twitter.
                    </h2>
                    <div align="center">
                        <p>If you want to read some of my pointless ramblings check out my Twitter page @@NiallFMartin.</p>
                        <a href="https://twitter.com/NiallFMartin" class="btn btn-primary">
                            @@NiallFMartin
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>

            <br />
            <br />

            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <h2 align="center">
                        Check out my work.
                    </h2>
                    <div align="center">
                        <p>Take a look at some of the things I've made at my Github profile.</p>
                        <a href="https://github.com/NiallFMartin" class="btn btn-primary">
                            Github
                            <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>

                <div class="col-md-5">
                    <h2 align="center">
                        Connect with me on Linkedn.
                    </h2>
                    <div align="center">
                        <p>Take a look at my Linkedn profile below.</p>
                        <a href="https://www.linkedin.com/in/NiallFMartin" class="btn btn-primary">
                            Linkedn
                            <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </div>
</div>